body {
    background-color: #282c35;
    color: #fff;
    font-family: Arial, sans-serif;
    margin: 0;
    transition: background-color 0.5s ease;
    padding: 0;
}

header {
    background-color: #d9534f;
    color: #fff;
    padding: 20px;
    text-align: center;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
}

h1 {
    font-size: 2em;
    margin: 0;

}

p {
    margin: 10px 0;
}

.download-button {
    background-color: #b34541;
    color: #fff;
    text-decoration: none;
    padding: 10px 20px;
    margin: 10px;
    border-radius: 5px;
    display: inline-block;
}

#features {
    background-color: #333;
    color: #fff;
    padding: 20px;
    border-radius: 15px;
    margin: 20px 0;
}

#features h2 {
    color: #d9534f;
}

ul {
    list-style-type: none;
    padding: 0;
}

ul li {
    margin-bottom: 10px;
}

section {
    background-color: #444;
    color: #fff;
    padding: 20px;
    border-radius: 15px;
    margin: 20px 0;
}

h2 {
    color: #d9534f;
}

#scrnst {
    max-width: 100%;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    border-radius: 10px;
    margin-bottom: 10px;
}

#docs h3 {
    color: #d9534f;
    margin-top: 20px;
}

#discord {
    background-color: #36393f;
    color: #fff;
    padding: 20px;
    border-radius: 15px;
    margin: 20px 0;
    text-align: center;
}

#discord h2 {
    color: #d9534f;
    margin-bottom: 10px;
}

#discord p {
    margin-bottom: 20px;
}

section {
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
}

#discord iframe {
    width: 100%;
    max-width: 400px;
    height: 500px;
    border: none;
    border-radius: 10px;
    margin: 0 auto;
}

.download-button:hover {
    background-color: #953f3b; 
    transition: background-color 0.3s ease;
}

.code {
    background-color: #555;
    padding: 5px;
    border-radius: 5px;
    display: inline-block;
    margin-bottom: 10px;
}

footer {
    background-color: #333;
    color: #fff;
    padding: 10px;
    text-align: center;
    border-top-left-radius: 15px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    border-top-right-radius: 15px;
}

#docs a {
    color: #fff;
    text-decoration: none;
}

#docs a:hover {
    color: #fff;
}

::-webkit-scrollbar {
    width: 0px;
}